.btn {
  padding: ($app-padding * 0.5) ($app-padding * 2);
  font-size: $app-type-base * 1.1;
  text-align: center;
  margin-bottom: $app-padding * 0.5;
  display: inline-block;
  border-radius: $app-buttons-radius;
  &--blue {
    background-color: $app-blue;
    color: $app-gray-light;
    border: 1px solid darken($app-blue, 10%);
    &:hover {
      background-color: darken($app-blue, 5%);
    }
  }
  &--gray {
    background-color: $app-gray-light;
    color: darken($app-gray, 20%);
    border: 1px solid darken($app-gray, 20%);
    &:hover {
      background-color: darken($app-gray-light, 10%);
    }
  }
  &--active {
    background-color: darken($app-gray-light, 15%);
  }
  &--transparent {
    background-color: transparent;
    border: 1px solid darken($app-blue, 15%);
  }
  &--center {
    display:block;
    margin: $app-padding auto;
  }
  &--big {
    padding: $app-padding ($app-padding * 3);
    font-size: $app-type-base * 1.8;
  }
  &--choice {
    width:100%;
    line-height: 150px;
    font-size: $app-type-base * 4;
    display: inline-block;
  }
  &--w200 {
    min-width:200px;
  }
}
