<div class="home">
  <article>
    <h2 class="home__title">Welcome</h2>
    <p>Here you have a basic rules set:</p>
    <p>A player who decides to play rock will beat another player who has chosen scissors.</p>
    <p>A player who decides to play sissors will beat another player who has chosen paper.</p>
    <p>A player who decides to play paper will beat another player who has chosen Rock.</p>
    <p class="text--center">
      <img src="assets/img/rps.png" class="img--responsive" alt="Rock Papper Sissors" />
    </p>
  </article>
  <a class="btn btn--blue btn--center btn--big" routerLink="/game">New Game</a>
</div>
