.app {
  &__container {
    font-family: 'Do Hyeon', sans-serif;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    padding: $app-container-padding;
    background-color: $app-container-bg;
  }
  &__main-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    @media(min-width: map-get($breakpoints, 'sm')) {
      max-width: $app-main-container-max-width;
    }
  }
  &__game-container {
    padding: $app-padding;
    flex-basis: 100%;
    background-color: lighten($app-grey-light, 5%);
    color: $app-grey;
  }
}
