.app {
  &__container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    padding: $app-container-padding;
    background-color: $app-container-bg;
  }
  &__main-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    @media(min-width: map-get($breakpoints, 'sm')) {
      max-width: $app-main-container-max-width;
      box-shadow: 1px 1px 3px #444;
      border: $app-main-container-border;
      border-radius: $app-main-container-radius;
      overflow: hidden;
      margin: $app-padding 0;
    }
  }
}
