.footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: ($app-padding * 2) $app-padding $app-padding;
    background-color: $app-gray-dark;
    &__credits {
        color: $app-gray-light;
        font-size: $app-type-base * 0.8;
        margin:0;
    }
}